[submodule "lib/chibios"]
	path = lib/chibios
	url = git@github.com:qmk/ChibiOS.git
	branch = master
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = git@github.com:qmk/ChibiOS-Contrib
	branch = master
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:qmk/googletest
[submodule "lib/lufa"]
	path = lib/lufa
	url = git@github.com:qmk/lufa
[submodule "lib/vusb"]
	path = lib/vusb
	url = git@github.com:qmk/v-usb
[submodule "lib/printf"]
	path = lib/printf
	url = git@github.com:qmk/printf
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = git@github.com:qmk/pico-sdk.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = git@github.com:qmk/lvgl.git
	branch = release/v8.2
